name: example name
description: example description
version: 1
address: http://example.com
icon: icon.png
download_chunk_size: 131072
repo_path: /var/www/fdroid/repo
signing:
    cert: cert.pem
    key: key.pem
apps:
    - com.example.app1
    - com.example.app2
    - com.yet.another.example.app3
